<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User Info</h2>


      <%= form_with model: @user, local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: @user %>

        <div class="form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name, class: "form-control", autofocus: true, autocomplete: "name" %>
        </div>

        <div class="form-group">
          <%= f.label :image %><br />
          <label>
            <%= f.attachment_field :profile_image, placeholder: "Profile Image", class: "w-100" %>
          </label>
        </div>

        <div class="form-group">
          <%= f.label :introduction %><br />
          <%= f.text_area :introduction, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "Update User", class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>



